<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'leaves_holidays', :plugin => 'redmine_leaves_holidays' %>
<% end %>

<h1>Leave Dashboard</h1>

<div class="tabular2"><%= render_leave_tabs leaves_holidays_tabs %></div>

<%= form_tag(leave_approvals_path, :method => :get, :id => 'query_form') do %>
<fieldset><legend>Filters <small>(Ctrl+click or Maj+click to select or deselect entries)</small></legend>
	<label for='status'><%= l(:field_status) %>:</label>
	<%= select_tag 'status', leaves_status_options_for_select_count(@status_selected), :class => "small", :multiple => true  %>

	<label for='when'>When:</label>
	<%= select_tag 'when', leaves_dates_options_for_select(@when_selected), :class => "small", :multiple => true  %>

	<label for='reason'>Reason:</label>
	<%= select_tag 'reason', leaves_reason_options_for_select(@reason_selected), :class => "small", :multiple => true  %>

	<label for='region'>Region:</label>
	<%= select_tag 'region', leaves_regions_options_for_select_count(@region_selected), :class => "small", :multiple => true  %>

	<label for='users'>User:</label>
	<%= select_tag 'users', leaves_users_options_for_select(@users_selected), :class => "small", :multiple => true  %>

	<p class="buttons">
	<label for='show_rejected'>Include Rejected:</label>
	<%= check_box_tag 'show_rejected', true, @show_rejected == "true" %>

	<label for='show_contractor'>Include Contractor:</label>
	<%= check_box_tag 'show_contractor', true, @show_contractor == "true" %>

	<label for='show_only_direct_managed'>Only show people that I manage directly:</label>
	<%= check_box_tag 'show_only_direct_managed', true, @show_only_direct_managed == "true" %>

	<%= hidden_field_tag(:apply_form, 0) %>
  
  <%= link_to_function l(:button_apply), '$("#apply_form").val(1); $("#query_form").submit();', { :value => "apply", :class => 'icon icon-checked'}%>
	<%= link_to l(:button_clear), { :clear_filters => 1 }, :class => 'icon icon-reload' %>
	</p>
</fieldset>
<% end %>
<br/>

<%= render 'tab_approvals', leave_approvals: @leave_approvals, leave_pages: @leave_pages, leave_count: @leave_count, users_managed: @users_managed, users_consulted: @users_consulted, users_notified:  @users_notified  %>