
<h3>Consultation for the Leave Request <%= link_to "\##{leave.id}", leave_request_path(leave) %> from <%= link_to leave.user.name, user_path(leave.user) %>:</h3>
<br />

<% roles = LeavesHolidaysLogic.allowed_common_project(User.current, leave.user, 2) %>

<fieldset>
<strong>You are being consulted as a:</strong>
<% roles.each do |role| %>
 <p><strong><%= role[:name] %></strong> - <strong><%= role[:project] %></strong></p>
<% end %>

<%= form_for [leave, vote] do |f| %>
	
 	
		<% if vote.errors.any? %>
			<div class="flash">
				<ul>
			  		<% vote.errors.full_messages.each do |msg| %>
			    		<li><%= msg %></li>
			  		<% end %>
				</ul>
			</div>
		<% end %>
	
	<div>

			<p>
				Consultation:
				<%= f.radio_button :vote, 'yes' %>
				<%= f.label :vote, 'Yes', :value => 'yes' %>
				<%= f.radio_button :vote, 'no' %>
				<%= f.label :vote, 'No', :value => 'no' %>
			</p>

			<p>
				<label>Comments:</label>
				<%= f.text_field :comments, {:size => 75 } %>
			</p>

	</div>
	<%= f.submit 'Submit', data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', leave_request_path(leave) %>
</fieldset>
<br />
<fieldset>
<h3>Consulted:</h3>
	
<%= render partial: 'leave_votes/tab_votes', locals: {votes: votes, leave: leave} %>

</fieldset>
