<% if !votes.empty? %>
	<div class="autoscroll">
		<table class="list">
			<thead>
			<tr>
			<th>Consulted</th>
			<th>Answer</th>
			<th>Date of Consultation</th>
			<th>Role(s) Consulted as</th>
			<th>Project(s) Consulted as</th>
			<th>Comments</th>
				</tr></thead>
			<tbody>
				<% for vote in votes -%>
					<% roles = LeavesHolidaysLogic.allowed_common_project(vote.user, leave.user, 2) %>
					<tr class="<%= cycle("odd", "even") %>">
					<td><%= link_to vote.user.name, user_path(vote.user) %></td>
					<td><%= vote.vote %></td>
					<td><%= format_time(vote.updated_at) %></td>
					<td><%= roles.map {|role| role[:name].to_s }.uniq.join(", ") %></td>
					<td><%= roles.map {|role| role[:project].to_s }.uniq.join(", ") %></td>
					<td><%= vote.comments %></td>

					</tr>
				<% end -%>
			</tbody>
		</table>
	</div>
<% else %>
	There are no Consultations for this leave request
<% end %>