<% if !votes.empty? %>
	<div class="list">
		<table>
			<thead>
				<th>Id</th>
				<th>Consulted</th>
				<th>Answer</th>
				<th>Date of Consultation</th>
				<th>Role Consulted as</th>
				<th>Common Project</th>
				<th>Comments</th>
			</thead>
			<tbody>
				<% votes.each do |vote| %>
					<% roles = LeavesHolidaysLogic.allowed_common_project(vote.user, leave.user, 2) %>
					<tr class="<%= cycle("odd", "even") %>">

						<td><%= vote.id %></td>
						<td><%= vote.user.name %></td>
						<td><%= vote.vote %></td>
						<td><%= format_time(vote.updated_at) %></td>
						<td><%= roles.map {|role| role[:name].to_s }.join(", ") %></td>
						<td><%= roles.map {|role| role[:project].to_s }.join(", ") %></td>
						<td><%= vote.comments %></td>
						
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% else %>
	<h3>There are no Consultations for this leave request</h3>
<% end %>