<% if !votes.empty? %>
	<div class="autoscroll">
		<table class="list">
			<thead>
			<tr>
			<th><%= l(:leave_consulted) %></th>
			<th><%= l(:leave_answer) %></th>
			<th><%= l(:leave_vote_date) %></th>
			<th><%= l(:leave_comments) %></th>
				</tr></thead>
			<tbody>
				<% for vote in votes -%>
					<tr class="<%= cycle("odd", "even") %>">
					<td><%= link_to vote.user.name, user_path(vote.user) %></td>
					<td><%= vote.vote %></td>
					<td><%= format_time(vote.updated_at) %></td>
					<td><%= vote.comments %></td>

					</tr>
				<% end -%>
			</tbody>
		</table>
	</div>
<% else %>
	<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>