<p>
	<strong><%= l(:label_leave_id) %>:</strong>
	<%= leave.id %>
</p>
<p>
	<strong><%= l(:label_leave_creator) %>:</strong>
	<%= link_to leave.user.name, leave.user %>
</p>
<p>
	<strong><%= l(:leave_from_date) %>:</strong>
	<%= format_date(leave.from_date) %>
</p>
<p>
	<strong><%= l(:leave_until_date) %>:</strong>
	<%= format_date(leave.to_date) %>
</p>
<% actual_days = leave.actual_leave_days %>
<p>
	<strong><%= l(:leave_actual_days_period) %>:</strong>
	<%= actual_days %>
</p>
<p>
	<strong><%= l(:leave_non_working_days) %>:</strong>
	<%= leave.real_leave_days - actual_days %>
</p>
<% if leave.comments != "" %>
	<p>
		<strong><%= l(:leave_comments) %>:</strong>
		<%= leave.comments %>
	</p>
<% end %>
<p>
	<strong><%= l(:leave_am_pm) %>:</strong>
	<%= leave.request_type %>
</p>
<p>
	<strong><%= l(:leave_reason_full) %>:</strong>
	<%= leave.issue.subject %>
</p>
<p>
	<strong><%= l(:leave_created_on) %>:</strong>
	<%= format_time(leave.created_at) %>
</p>
<p>
	<strong><%= l(:leave_updated_on) %>:</strong>
	<%= format_time(leave.updated_at) %>
</p>

<% if leave.custom_field_values.any? %>
<ul>
  <% render_custom_field_values(leave) do |custom_field, formatted| %>
    <li><span class="label"><%= custom_field.name %>:</span> <%= formatted %></li>
  <% end %>
</ul>
<% end %>

<p>
	<strong><%= l(:leave_status_full) %>:</strong>
	<% s = leave.get_status %>
	<% if s == "created" %>
	<span style="color: red;"><strong><%= leave.get_status %></strong></span>
	<% else %>
		<%= leave.get_status %>
	<% end %>
	
</p>