<div class="splitcontentright">
<div class="box">
<h3>Leave days metrics:</h3>

	<%
		lp = user.leave_period
		lptd = user.leave_period_to_date
	%>

	<% unless user.is_contractor %>
		<p>Extra Leave days (Days carried over or catch up) from <%= format_date(lp[:start]) %> to <%= format_date(lp[:end]) %>: <strong><%= user.days_extra %></strong>	</p>

			<table>
				<thead>
					<th colspan="2">Leave Days remaining from <%= format_date(lp[:start]) %> to <%= format_date(lp[:end]) %>:</th>
				</thead>
				<tbody>
					<tr>
						<td>+ Actual Holiday Entitlement (Allowance):</td>
						<td><%= user.actual_days_max %></td>
					</tr>
					<tr>
						<td>+ Extra Days:</td>
						<td><%= user.days_extra %></td>
					</tr>
					<tr>
						<td>- Leave Taken (submitted, processing):</td>
						<td><%= user.days_taken_total - user.days_taken_accepted %></td>
					</tr>
					<tr>
						<td>- Leave Taken (accepted):</td>
						<td><%= user.days_taken_accepted %></td>
					</tr>
					<tr>
						<td><strong>Total:</strong></td>
						<td><strong><%= user.days_remaining %></strong></td>
					</tr>
				</tbody>
			</table>
	<% end %>
<br/>
	<p>
		Leave Days accumulated from <%= format_date(lptd[:start]) %> to <%= format_date(lptd[:end]) %>:
		<strong><%= user.days_accumulated %></strong>
	</p>
	<p>
		Leave Days (accepted) taken from <%= format_date(lp[:start]) %> to <%= format_date(lp[:end]) %>:
		<strong><%= user.days_taken_accepted %></strong>
	</p>
	
	<p><strong>Note For days Remaining / Taken:</strong>
	<ul>
		<li>Leave Requests taken into account are those with a status "submitted", "processing", "accepted"</li>
		<li>Leave Requests overlapping with <%= format_date(lp[:start]) %> are <strong>ignored</strong> in the calculation</li>
		<li>Leave Requests overlapping with <%= format_date(lp[:end]) %> are <strong>included</strong> in the calculation</li>
	</ul>
	</p>
	</div>
</div>