<div class="splitcontentright">
<div class="box">
<h3>Leave days metrics:</h3>

	<%
		lp = user.leave_period
		lptd = user.leave_period_to_date
	%>

	<% unless user.is_contractor %>
		<p>Extra Leave days (Days carried over or catch up) from <%= format_date(lp[:start]) %> to <%= format_date(lp[:end]) %>: <strong><%= user.days_extra %></strong>	</p>

		<p>
			Leave Days remaining from <%= format_date(lp[:start]) %> to <%= format_date(lp[:end]) %>:
			<ul>
				<li>Extra Days: <strong><%= user.days_extra %></strong></li>
				<li>+ Actual Holiday Entitlement: <strong><%= user.actual_days_max %></strong></li>
				<li>- Leave Taken (submitted, processing): <strong><%= user.days_taken_total - user.days_taken_accepted %></strong></li>
				<li>- Leave Taken (accepted): <strong><%= user.days_taken_accepted %></strong></li>
				<li><strong>Total: <%= user.days_remaining %></strong></li>
			</ul>
	<% end %>

	</p>
	<p>
		Leave Days accumulated from <%= format_date(lptd[:start]) %> to <%= format_date(lptd[:end]) %>:
		<strong><%= user.days_accumulated %></strong>
	</p>
	<p>
		Leave Days (accepted) taken from <%= format_date(lp[:start]) %> to <%= format_date(lp[:end]) %>:
		<strong><%= user.days_taken_accepted %></strong>
	</p>
	
	<p><strong>Note For days Remaining / Taken:</strong>
	<ul>
		<li>Leave Requests taken into account are those with a status "submitted", "processing", "accepted"</li>
		<li>Leave Requests overlapping with <%= format_date(lp[:start]) %> are <strong>ignored</strong> in the calculation</li>
		<li>Leave Requests overlapping with <%= format_date(lp[:end]) %> are <strong>included</strong> in the calculation</li>
	</ul>
	</p>
	</div>
</div>