<p>
	<strong><%= l(:label_leave_id) %></strong>
	<%= leave.id %>
</p>
<p>
	<strong><%= l(:label_leave_creator) %></strong>
	<%= link_to leave.user.name, leave.user %>
</p>
<p>
	<strong>Leave From:</strong>
	<%= format_date(leave.from_date) %>
</p>
<p>
	<strong>Leave Until:</strong>
	<%= format_date(leave.to_date) %>
</p>
<% actual_days = leave.actual_leave_days %>
<p>
	<strong>Actual Leave Days for the period:</strong>
	<%= actual_days %>
</p>
<p>
	<strong>Non Working Days or Bank Holidays:</strong>
	<%= leave.real_leave_days - actual_days %>
</p>
<% if leave.comments != "" %>
	<p>
		<strong><%= l(:label_leave_comments) %>:</strong>
		<%= leave.comments %>
	</p>
<% end %>
<p>
	<strong>Leave AM/PM:</strong>
	<%= leave.request_type %>
</p>
<p>
	<strong>Leave Reason:</strong>
	<%= leave.issue.subject %>
</p>
<p>
	<strong>Created on:</strong>
	<%= format_time(leave.created_at) %>
</p>
<p>
	<strong>Last updated:</strong>
	<%= format_time(leave.updated_at) %>
</p>

<p>
	<strong>Leave Status:</strong>
	<%= leave.get_status %>
</p>