<div class="splitcontentright">
<div class="box">
<h3><%= l(:leave_metrics_title) %>:</h3>

	<%
		lp = user.leave_period
		lptd = user.leave_period_to_date
	%>

	<% unless user.is_contractor %>
		<p><%= l(:leave_metrics_extra_days, :from => format_date(lp[:start]), :to => format_date(lp[:end])) %>: <strong><%= user.days_extra %></strong>	</p>

			<table>
				<thead>
					<th colspan="2"><%= l(:leave_metrics_days_remaining, :from => format_date(lp[:start]), :to => format_date(lp[:end])) %>:</th>
				</thead>
				<tbody>
					<tr>
						<td>+ <%= l(:leave_metrics_actual_entitlement) %>:</td>
						<td><%= user.actual_days_max %></td>
					</tr>
					<tr>
						<td>+ <%= l(:leave_metrics_extra_days_label) %>:</td>
						<td><%= user.days_extra %></td>
					</tr>
					<tr>
						<td>- <%= l(:leave_metrics_leave_taken) %>:</td>
						<td><%= user.days_taken_total - user.days_taken_accepted %></td>
					</tr>
					<tr>
						<td>- <%= l(:leave_metrics_leave_accepted) %>:</td>
						<td><%= user.days_taken_accepted %></td>
					</tr>
					<tr>
						<td><strong><%= l(:leave_total) %>:</strong></td>
						<td><strong><%= user.days_remaining %></strong></td>
					</tr>
				</tbody>
			</table>
	<% end %>
<br/>
	<p>
		<%= l(:leave_metrics_days_accumulated, :from => format_date(lptd[:start]), :to => format_date(lptd[:end])) %>:
		<strong><%= user.days_accumulated %></strong>
	</p>
	<p>
		<%= l(:leave_metrics_days_taken, :from => format_date(lp[:start]), :to => format_date(lp[:end])) %>:
		<strong><%= user.days_taken_accepted %></strong>
	</p>
	
	<p><strong><%= l(:leave_metrics_note) %>:</strong>
	<ul>
		<li><%= l(:leave_metrics_note1) %></li>
		<li><%= t(:leave_metrics_note2_html, :start => format_date(lp[:start])) %></li>
		<li><%= t(:leave_metrics_note3_html, :end => format_date(lp[:end])) %></li>
	</ul>
	</p>
	</div>
</div>