
<h2><%= l(:leave_form_title) %>:</h2>
<fieldset>
	<% region = LeavesHolidaysLogic.user_params(@user, :region) %>
	<p><%= t(:leave_form_notice_html, :region => region) %></p>
	<p><%= t(:leave_form_important_html) %></p>
</fieldset>
<br />
<fieldset>
	<% if @is_ok_to_submit_leave %>
	<p><strong><%= l(:leave_form_notified_field) %>:</strong></p>
	<% if @managed_list.any? %>
		<p><strong><%= l(:leave_form_managed) %>:</strong> <%= @managed_list.map(&:name).join(', ') %></p>
	<% end %>
	<% if @consult_list.any? %>
		<p><strong><%= l(:leave_form_consulted) %>:</strong> <%= @consult_list.map(&:name).join(', ') %></p>
	<% end %>
	<% if @notify_approved_full.any? %>
		<p><strong><%= l(:leave_form_notified_approval) %>:</strong> <%= @notify_approved_full.map(&:name).join(', ') %></p>
	<% end %>
	
	
<% end %>

</fieldset>
<br/>
<fieldset>
<%= form_for(@leave) do |f| %>
	
	<% if @leave.errors.any? %>
	<div class="flash error">
		<ul>
	  		<% @leave.errors.full_messages.each do |msg| %>
	    		<li><%= msg %></li>
	  		<% end %>
		</ul>
	</div>
	<% end %>

<div>
	

		<p><%= l(:label_leave_period_absence) %></p>
		
		<p>
			<div id="leave_period">
				<%= l(:label_leave_from) %><%= f.date_field :from_date, readonly: true %><%= calendar_for('leave_request_from_date') %>
				<%= l(:label_leave_to) %><%= f.date_field :to_date, readonly: true %><%= calendar_for('leave_request_to_date') %> included <span id="leave_length">
				<% if @leave.valid? %>
					<strong><%= l(:leave_length, days: @leave.actual_leave_days) %></strong>
				<% end %>
				</span>
			</div>

		</p>

		<p>
			<div id="leave_am_pm">
				<%= l(:label_leave_half_full_day) %>
				<%= f.check_box :leave_time_am %>
				<%= label_tag(:leave_time_am, l(:label_leave_am)) %>
				<%= f.check_box :leave_time_pm %>
				<%= label_tag(:leave_time_pm, l(:label_leave_pm)) %>
			</div>
		</p>

		<p>
		<div id="leave_reason">
			<label><%= l(:leave_reason) %>:</label>
 			<%- options = (@issues_trackers.collect {|a| [a.subject, a.id]}) -%>
 			
				<%= f.select :issue_id, options, {:include_blank => l(:leave_please_select)}, :required => true %>
			</div>
		</p>

		<p>
			<label><%= l(:leave_comments) %>:</label>
			<%= f.text_field :comments, {:size => 75 } %>
		</p>


	
</div>


	<%= f.submit l(:button_create), data: { confirm: l(:leave_form_submit_confirm) } %>

<%= javascript_tag do %>
  $(document).ready(function(){
    $('#leave_period, #leave_am_pm').change(function(){
    	$.ajax({
    	    url: '<%= leave_length_leave_requests_path %>',
    	    data: {from_date: $('#leave_request_from_date').val(),
    	    			 to_date: $('#leave_request_to_date').val(),
    	    			 region: '<%= region.to_s %>',
    	    			 leave_time_am: $('#leave_request_leave_time_am').is(":checked"),
    	    			 leave_time_pm: $('#leave_request_leave_time_pm').is(":checked")
    	    			 },
    	    cache: false,
    	    success: function(data){
    	      $("#leave_length").html(data);
    	    }
    	});
    });
  });
<% end %>

<% end %>
<%= link_to l(:button_back), leave_requests_path %>
</fieldset>

