
<h2>Leave Request:</h2>
<fieldset>
	<p><strong>Notice:</strong> Bank Holidays for your region (<%= LeavesHolidaysLogic.user_params(@user, :region) %>) and week ends are automatically ignored.</p>
</fieldset>
<br />
<fieldset>
<%= form_for(@leave) do |f| %>
	
	<% if @leave.errors.any? %>
	<div class="flash error">
		<ul>
	  		<% @leave.errors.full_messages.each do |msg| %>
	    		<li><%= msg %></li>
	  		<% end %>
		</ul>
	</div>
	<% end %>

<div>
	

		<p><%= l(:label_leave_period_absence) %></p>
		
		<p>
			<%= l(:label_leave_from) %><%= f.text_field :from_date, readonly: true %><%= calendar_for('leave_request_from_date') %>
			<%= l(:label_leave_to) %><%= f.text_field :to_date, readonly: true %><%= calendar_for('leave_request_to_date') %> included
		</p>

		<p>
			<%= l(:label_leave_half_full_day) %>
			<%= f.check_box :leave_time_am, {:checked => true} %>
			<%= label_tag(:leave_time_am, l(:label_leave_am)) %>
			<%= f.check_box :leave_time_pm, {:checked => true} %>
			<%= label_tag(:leave_time_pm, l(:label_leave_pm)) %>
		</p>

		<p>
			<label><%= l(:label_leave_reason) %>:</label>
 			<%- options = (@issues_trackers.collect {|a| [a.subject, a.id]}) -%>
			<%= f.select :issue_id, options, :multiple => false, :prompt => "Please select" %>
		</p>

		<p>
			<label>Comments:</label>
			<%= f.text_field :comments, {:size => 75 } %>
		</p>


	
</div>


	<%= f.submit 'Create', data: { confirm: 'This will create a new leave request, but will not submit it for approval. You will be able to make changes to this request until you submit it.' } %>


<% end %>
<a href="javascript:history.back()"><%= l(:button_back) %></a>
</fieldset>