<% if !leave_requests.empty? %>
	<div class="autoscroll">
		<table class="list">
			<thead>
			<tr>
			<%= sort_header_tag('id', caption: "Id") %>
			<th>Days</th>
			<%= sort_header_tag('from_date', caption: "Leave From") %>
			<%= sort_header_tag('to_date', caption: "Leave To") %>
			<th>In current Leave Period</th>
			<th>Reason</th>
			<th>Deduced from remaining days</th>
			<th>Comments</th>
			<th>Type</th>
			<th>Status</th>
			<th></th>
 			</tr></thead>
			<tbody>
				<% for req in leave_requests -%>
					<tr class="<%= cycle("odd", "even") %> <%= req.css_classes %>">
					<td class="id"><%= req.id %></td>
					<td class="number_days"><%= req.actual_leave_days %></td>
					<td class="from_date"><%= req.from_date %></td>
					<td class="to_date"><%= req.to_date %></td>
					<td class="current_leave_period"><%= checked_image req.in_current_leave_period? %></td>
					<td class="reason"><%= req.issue.subject %></td>
					<td class="deduced_from_remaining_days"><%= checked_image req.is_actually_deduced? %></td>
					<td class="comments"><%= req.comments %></td>
					<td class="request_type"><%= req.request_type %></td>
					<td class="status">
					<% if req.request_status == "processed" %>
						<%= LeaveStatus.for_request(req.id).first.acceptance_status %>
					<% else %>
						<%= req.request_status %>
					<% end %>
					</td>
					<td>
					<%= link_to 'Details', req, :class => 'icon icon-details' %>
					</td>
					</tr>
				<% end -%>
			</tbody>
		</table>
	</div>
	<p class="pagination"><%= pagination_links_full leave_pages, leave_count %></p>
<% else %>
	<h4>There are no leave requests to show</h4>
	<br/>
<% end %>

<%= link_to "Create a New Leave Request", new_leave_request_path,:class => 'icon icon-add' %>


