<% if !@leave_requests['approvals'].empty? %>
	<div class="autoscroll">
		<table class="list">
			<thead>
			<tr>
				<%= sort_header_tag('id', caption: "Id") %>
				<th>Creator</th>
				<th>Region</th>
				<%= sort_header_tag('created_at', caption: "Creation Date") %>
				<th>Length (days)</th>
				<%= sort_header_tag('from_date', caption: "Leave From") %>
				<%= sort_header_tag('to_date', caption: "Leave To") %>
				<th>Reason</th>
				<th>Comments</th>
				<th>Type</th>
				<th>Status</th>
				<th>Remaining</th>
				<th>Accumulated</th>
				<th></th>
			</tr></thead>
			<tbody>
				<% for req in @leave_requests['approvals'] -%>
					<tr class="<%= cycle("odd", "even") %>">
					<td class="id"><%= req.id %></td>
					<td><%= link_to req.user.name, user_path(req.user) %></td>
					<td><%= req.region %></td>
					<td class="created_at"><%= format_date(req.created_at.to_date) %></td>
					<td><%= req.actual_leave_days %></td>
					</td>
					<td><%= format_date(req.from_date) %></td>
					<td><%= format_date(req.to_date) %></td>
					<td><%= link_to req.issue.subject, issue_path(req.issue) %></td>
					<td><%= req.comments %></td>
					<td><%= req.request_type %></td>
					<% if req.request_status == "processed" %>
						<% status = LeaveStatus.for_request(req.id).first %>

						<td><%= status.acceptance_status %> by <%= link_to status.user.name, user_path(status.user) %></td>
					<% else %>
						<td><%= req.request_status %></td>
					<% end %>

					<% if req.request_status != "processed" %>
						<td><%= req.get_days(:remaining)[:result].round(1) %>d (excl), <%= req.get_days(:remaining)[:result].round(1) - req.actual_leave_days %>d (incl)</td>
					<% else %>
						<td><%= req.get_days(:remaining)[:result].round(1) %>d</td>
					<% end %>
					

					<td><%= req.get_days(:accumulated)[:result].round(1) %>d</td>
					
					<td class="buttons">
						<%= link_to 'Details', req, :class => 'icon icon-details' %>
						<% if LeavesHolidaysLogic.has_rights(User.current, req.user, LeaveStatus, [:create, :update], req, :or) %>
							<%= link_to 'Manage', new_leave_request_leave_statuses_path(req), :class => 'icon icon-edit' %>
						<% end %>
						<% if LeavesHolidaysLogic.has_rights(User.current, req.user, LeaveVote, [:create, :update], req, :or) %>
							<% if (req.request_status == "submitted" || req.request_status == "processing") %>
							<%= link_to 'Consult', new_leave_request_leave_vote_path(req), :class => 'icon icon-edit' %>
							<% end %>
						<% end %>
					</td>

					</tr>
				<% end -%>
			</tbody>
		</table>
	</div>
<% else %>
	<h3>You do not have any leave to manage at the moment</h3>
<% end %>