<% contractor = user.is_contractor %>

<% if !leave_requests.empty? %>
	<div class="autoscroll">
		<table class="list">
			<thead>
			<tr>
			<%= sort_header_tag('id', caption: "Id") %>
			<th>Days</th>
			<%= sort_header_tag('from_date', caption: l(:leave_from_date)) %>
			<%= sort_header_tag('to_date', caption: l(:leave_to_date)) %>
			<th><%= l(:leave_current_period) %></th>
			<th><%= l(:leave_reason) %></th>
			<% unless contractor %>
				<th><%= l(:leave_deduced) %></th>
			<% end %>
			<th><%= l(:leave_comments) %></th>
			<th><%= l(:leave_type) %></th>
			<th><%= l(:leave_status) %></th>
			<th></th>
 			</tr></thead>
			<tbody>
				<% for req in leave_requests -%>
					<tr class="<%= cycle("odd", "even") %> <%= req.css_classes %>">
					<td class="id"><%= req.id %></td>
					<td class="number_days"><%= req.actual_leave_days %></td>
					<td class="from_date"><%= req.from_date %></td>
					<td class="to_date"><%= req.to_date %></td>
					<td class="current_leave_period"><%= checked_image req.in_current_leave_period? %></td>
					<td class="reason"><%= req.issue.subject %></td>
					<% unless contractor %>
						<td class="deduced_from_remaining_days"><%= checked_image req.is_actually_deduced? %></td>
					<% end %>
					<td class="comments"><%= req.comments %></td>
					<td class="request_type"><%= req.request_type %></td>
					<td class="status">
					<% if req.request_status == "processed" %>
						<%= LeaveStatus.for_request(req.id).first.acceptance_status %>
					<% else %>
						<%= req.request_status %>
					<% end %>
					</td>
					<td>
					<%= link_to l(:leave_details), req, :class => 'icon icon-details' %>
					</td>
					</tr>
				<% end -%>
			</tbody>
		</table>
	</div>
	<p class="pagination"><%= pagination_links_full leave_pages, leave_count %></p>
<% else %>
	<h4><%= l(:leave_none) %></h4>
	<br/>
<% end %>

<%= link_to l(:label_leave_create_request), new_leave_request_path,:class => 'icon icon-add' %>


