
<% unless LeavesHolidaysLogic.user_params(User.current, :is_contractor) %>
	<h3>Total leave days remaining from <%= format_date(@period[:start]) %> to <%= format_date(@period[:end]) %>: <%= @remaining %> (Indicative)</h3>
<% else %>
	<h3>Total leave days taken from <%= format_date(@period[:start]) %> to <%= format_date(@period[:end]) %>: <%= @taken %> (Indicative)</h3>
<% end %>


<% if !leave_requests.empty? %>



<!-- %w(id, number_days, from_date, to_date, reason) -->

		<div class="autoscroll">
		<table class="list">
			<thead>
			<tr>
			<%= sort_header_tag('id', caption: "Id") %>
			<th>Number of Days</th>
			<%= sort_header_tag('from_date', caption: "Leave From") %>
			<%= sort_header_tag('to_date', caption: "Leave To") %>
			<th>Reason</th>
			<th>Comments</th>
			<th>Type</th>
			<th>Status</th>
			<th></th>
 			</tr></thead>
			<tbody>
				<% for req in leave_requests -%>
					<tr class="<%= cycle("odd", "even") %>">
					<td class="id"><%= req.id %></td>
					<td class="number_days"><%= req.actual_leave_days %></td>
					<td class="from_date"><%= req.from_date %></td>
					<td class="to_date"><%= req.to_date %></td>
					<td class="reason"><%= req.issue.subject %></td>
					<td class="comments"><%= req.comments %></td>
					<td class="request_type"><%= req.request_type %></td>
					<td class="status">
					<% if req.request_status == "processed" %>
						<%= LeaveStatus.for_request(req.id).first.acceptance_status %>
					<% else %>
						<%= req.request_status %>
					<% end %>
					</td>
					<td>
					<%= link_to 'Details', req, :class => 'icon icon-details' %>
					</td>
					</tr>
				<% end -%>
			</tbody>
		</table>

	</div>
<% else %>
	<h3>You do not have any leave request</h3>
<% end %>

<%= link_to "Create a New Leave Request", new_leave_request_path,:class => 'icon icon-add' %>


