<div class="tabular">

	<% if !@leave_requests['approvals'].empty? %>
		<table>
		<thead>
			<th>Id</th>
			<th>Creator</th>
			<th>Days</th>
			<th>Leave From</th>
			<th>Leave To</th>
			<th>Reason</th>
			<th>Comments</th>
			<th>Type</th>
			<th>Status</th>
			<th colspan="3"></th>
		</thead>
		<tbody>
			<% @leave_requests['approvals'].each do |leave_request| %>
				<tr class="<%= cycle("odd", "even") %>">
					<td><%= leave_request.id %></td>
					<td><%= leave_request.user.name %></td>
					<td><%= leave_request.actual_leave_days %></td>
					<td><%= leave_request.from_date %></td>
					<td><%= leave_request.to_date %></td>
					<td><%= leave_request.issue.subject %></td>
					<td><%= leave_request.comments %></td>
					<td><%= leave_request.request_type %></td>
					<!-- <td><%= leave_request.request_status %></td> -->
					<% if leave_request.request_status == "processed" %>
						<td><%= LeaveStatus.for_request(leave_request.id).first.acceptance_status %></td>
					<% else %>
						<td><%= leave_request.request_status %></td>
					<% end %>
					<td><%= link_to 'Details', leave_request %></td>
					<% if LeavesHolidaysLogic.is_allowed_to_manage_status(User.current, leave_request.user) %>
						<td><%= link_to 'Manage', new_leave_request_leave_statuses_path(leave_request) %></td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
		</table>
	<% else %>
		<h3>You do not have any leave to approve at the moment</h3>
	<% end %>
</div>