
	<% if !@leave_requests['requests'].empty? %>
<div class="tabular">
	<table>
		<thead>
			<th>Id</th>
			<th>Leave From</th>
			<th>Leave To</th>
			<th>Reason</th>
			<th>Comments</th>
			<th>Type</th>
			<th>Status</th>
			<th colspan="3"></th>
		</thead>
		<tbody>
			<% @leave_requests['requests'].each do |leave_request| %>
				<tr class="<%= cycle("odd", "even") %>">
					<td><%= leave_request.id %></td>
					<td><%= leave_request.from_date %></td>
					<td><%= leave_request.to_date %></td>
					<td><%= leave_request.issue.subject %></td>
					<td><%= leave_request.comments %></td>
					<td><%= leave_request.request_type %></td>

					<% if leave_request.request_status == "processed" %>
						<td><%= LeaveStatus.for_request(leave_request.id).first.acceptance_status %></td>
					<% else %>
						<td><%= leave_request.request_status %></td>
					<% end %>

					<td><%= link_to 'Details', leave_request %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

	<% else %>
		<h3>You do not have any leave request</h3>
	<% end %>

<br>

<td><%= link_to l(:label_leave_create_request), new_leave_request_path %></td>


