<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'leaves_holidays', :plugin => 'redmine_leaves_holidays' %>
<% end %>


<h1>Leaves Dashboard</h1>

<h4>Users able to approve the leave request of the current user:</h4>
<% @approvers.each do |i| %>
	<p>
		<%= i[:name] %> | Role level: <%= i[:role_details][:role_position] %>
	</p>
<% end %>

<hr />

<h4>Users that will be notified of leave requests:</h4>
<% @notifiers.each do |i| %>
	<p>
		<%= i[:name] %> | Role level: <%= i[:role_details][:role_position] %>
	</p>
<% end %>

<hr />

<p class="tabular2"><%= render_tabs leaves_holidays_tabs %></p>