<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'leaves_holidays', :plugin => 'redmine_leaves_holidays' %>
<% end %>

<h1>Leave Dashboard</h1>

<div class="tabular2"><%= render_leave_tabs leaves_holidays_tabs %></div>

<% unless LeavesHolidaysLogic.user_params(@user, :is_contractor) %>
  <% leave_period = @user.leave_period %>
  <% remaining_pending =  LeavesHolidaysDates.total_leave_days_remaining(@user, leave_period[:start], leave_period[:end], true) %>

	<h3>Total days remaining for current Leave Period from <%= format_date(leave_period[:start]) %> to <%= format_date(leave_period[:end]) %>: <%= remaining_pending %> (Indicative, includes requests submitted, processing, accepted)</h3>
<% end %>

<fieldset><legend><%= l(:label_filter_plural) %></legend>
	<%= form_tag leave_requests_path, :method => :get do %>

		<label for='include_past_leave'>Include leave requests in the past:</label>
		<%= check_box_tag 'include_past_leave', true, @include_past_leave == "true" %>

		<%= submit_tag l(:button_apply), :class => "small", :name => nil %>
	<% end %>
</fieldset>
<br/>

<%= render 'tab_requests', leave_requests: @leave_requests, leave_pages: @leave_pages, leave_count: @leave_count, user: @user %>