<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'leaves_holidays', :plugin => 'redmine_leaves_holidays' %>
<% end %>


<h1>Leaves Dashboard</h1>

<!-- <h3>Users that will be notified of leave requests:</h3>
<% @approvers.each do |i| %>
	<p>
		<%= i %>
	</p>
<% end %> -->

<%=LeavesHolidaysLogic.working_hours_per_week(User.current)%>
<%=LeavesHolidaysLogic.max_leaves_days_per_year(User.current)%>
<%=LeavesHolidaysLogic.region(User.current)%>

<p class="tabular2"><%= render_tabs leaves_holidays_tabs %></p>