<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'leaves_holidays', :plugin => 'redmine_leaves_holidays' %>
<% end %>


<h1>Leaves Dashboard</h1>

<hr />

<h3>Total leave days remaining from <%= @a %> to <%= @b %>: <%= @dates %></h3>
<h3>Total leave days taken from <%= @a %> to <%= @b %>: <%= @dates2 %></h3>
<h3>Total leave days accumulated from <%= @a %> to <%= Date.today %>: <%= @dates3 %></h3>



<hr />

<p class="tabular2"><%= render_tabs leaves_holidays_tabs %></p>