<p>
	<strong><%= l(:label_leave_id) %></strong>
	<%= @leave.id %>
</p>
<p>
	<strong><%= l(:label_leave_creator) %></strong>
	<%= @leave.user.name %>
</p>
<p>
	<strong>Leave From:</strong>
	<%= @leave.from_date %>
</p>
<p>
	<strong>Leave Until:</strong>
	<%= @leave.to_date %>
</p>
<p>
	<strong>Actual Leave Days for the period:</strong>
	<%= @leave.actual_leave_days %>
</p>
<p>
	<strong>Non Working Days or Bank Holidays:</strong>
	<%= @leave.real_leave_days - @leave.actual_leave_days %>
</p>
<% if @leave.comments != "" %>
	<p>
		<strong><%= l(:label_leave_comments) %>:</strong>
		<%= @leave.comments %>
	</p>
<% end %>
<p>
	<strong>Leave AM/PM:</strong>
	<%= @leave.request_type %>
</p>
<p>
	<strong>Leave Reason:</strong>
	<%= @leave.issue.subject %>
</p>
<p>
	<strong>Created on:</strong>
	<%= @leave.created_at %>
</p>
<p>
	<strong>Last updated:</strong>
	<%= @leave.updated_at %>
</p>

<p>
	<strong>Leave Status:</strong>
	<%= @leave.request_status %>
</p>

<% if LeavesHolidaysLogic.has_rights(User.current, @leave.user, [LeaveVote], [:read, :create, :update], @leave, :or)   %>
	<hr />
	<h3>Leave days metrics (ignores leaves not yet accepted for the user):</h3>
	<p>
		<strong>Days remaining from <%= @leave.get_days(:remaining)[:start] %> to <%= @leave.get_days(:remaining)[:end] %>:</strong>
		<%= @leave.get_days(:remaining)[:result] %>
	</p>
	<p>
		<strong>Days accumulated from <%= @leave.get_days(:accumulated)[:start] %> to <%= @leave.get_days(:accumulated)[:end] %>:</strong>
		<%= @leave.get_days(:accumulated)[:result] %>
	</p>
	<p>
		<strong>Days taken from <%= @leave.get_days(:taken)[:start] %> to <%= @leave.get_days(:taken)[:end] %>:</strong>
		<%= @leave.get_days(:taken)[:result] %>
	</p>
<% end %>
<hr />

<% if @leave.request_status == "processed" %>
	<%= render partial: '/leave_statuses/status', locals: {status: @status} %>
<% end %>

<%= link_to 'Back', leave_requests_path %>

<% if @leave.request_status == "created" && User.current == @leave.user %>
	| <%= link_to 'Edit', edit_leave_request_path(@leave) %>
<% end %>

<% if LeavesHolidaysLogic.has_rights(User.current, @leave.user, LeaveStatus, [:create, :update], @leave, :or) %>
	| <%= link_to 'Manage', new_leave_request_leave_statuses_path(@leave) %>
<% end %>

<% if LeavesHolidaysLogic.has_rights(User.current, @leave.user, LeaveVote, [:create, :update], @leave, :or) && LeavesHolidaysLogic.has_right(User.current, @leave.user, LeaveVote, :read, @leave) %>

	<% if (@leave.request_status == "submitted" || @leave.request_status == "processing") %>
	| <%= link_to 'Consult', new_leave_request_leave_vote_path(@leave) %>
	<% end %>
<% end %>

<% if LeavesHolidaysLogic.has_right(User.current, @leave.user, LeaveVote, :read, @leave)  %>
| <%= link_to 'Consultative Results', leave_request_leave_votes_path(@leave) %>
<% end %>

<% if @leave.request_status == "created" && User.current == @leave.user %>
	| <%= link_to 'Submit', submit_leave_request_path(@leave) %>
<% end %>

<% if @leave.request_status == "submitted" && User.current == @leave.user %>
	| <%= link_to 'Unsubmit', unsubmit_leave_request_path(@leave) %>
<% end %>

<% if User.current == @leave.user && (@leave.request_status != "processed" || (@leave.request_status == "processed" && @status.acceptance_status == "accepted")) %>
| <%= link_to 'Cancel Leave Request', leave_request_path(@leave), method: :delete, data: { confirm: 'Are you sure to cancel this leave?' } %>
<% end %>