



<% if @auth_view_metrics %>
	<%= render partial: 'details_metrics', locals: {user: @leave.user} %>
<% end %>

<%= render partial: 'details_leave', locals: {leave: @leave} %>

<% if @leave.request_status == "processed" %>
	<%= render partial: '/leave_statuses/status', locals: {status: @status} %>
<% end %>

<a href="javascript:history.back()"><%= l(:button_back) %></a>

<% if @leave.request_status == "created" && @user == @leave.user %>
	| <%= link_to 'Edit', edit_leave_request_path(@leave), :class => 'icon icon-edit' %>
<% end %>

<% if @auth_manage %>
	| <%= link_to 'Manage', new_leave_request_leave_status_path(@leave) %>
<% end %>

<% if @auth_consult %>
	| <%= link_to 'Consult', new_leave_request_leave_vote_path(@leave) %>
<% end %>

<% if (@auth_manage || @auth_consult) && @leave.request_status == "processed"  %>
| <%= link_to 'Consultative Results', leave_request_leave_votes_path(@leave) %>
<% end %>

<% if @leave.request_status == "created" && @user == @leave.user %>
	| <%= link_to 'Submit', submit_leave_request_path(@leave), :class => 'icon icon-checked' %>
<% end %>

<% if @leave.request_status == "submitted" && @user == @leave.user %>
	| <%= link_to 'Unsubmit', unsubmit_leave_request_path(@leave), :class => 'icon icon-cancel' %>
<% end %>

<% if @user == @leave.user && @leave.request_status != "cancelled" && (@leave.request_status != "processed" || (@leave.request_status == "processed" && @status.acceptance_status == "accepted")) %>
| <%= link_to 'Cancel Leave Request', leave_request_path(@leave), method: :delete, data: { confirm: 'Are you sure to cancel this leave?' }, :class => 'icon icon-del' %>
<% end %>