<fieldset>
	<legend><%= "Plugin parameters" %></legend>
	<%- trackers = Tracker.all.collect{|t| [t.name, t.id]} -%>
	<p>
		<label>Tracker for Leave Reasons:</label>
		<%- options = options_for_select(trackers, RedmineLeavesHolidays::Setting.defaults_settings(:default_tracker_id)) -%>
		<%= select_tag "settings[default_tracker_id]", options, :multiple => false %>
	</p>

	<%- projects = Project.all.collect{|t| [t.name, t.id]} -%>
	<p>
		<label>Project for Logging Time of Leave Requests:</label>
		<%- options = options_for_select(projects, RedmineLeavesHolidays::Setting.defaults_settings(:default_project_id)) -%>
		<%= select_tag "settings[default_project_id]", options, :multiple => false %>
	</p>

		<%- activities = TimeEntryActivity.where(:active => true).collect{|t| [t.name, t.id]} -%>
	<p>
		<label>Default Activity to log time:</label>
		<%- options = options_for_select(activities, RedmineLeavesHolidays::Setting.defaults_settings(:default_activity_id)) -%>
		<%= select_tag "settings[default_activity_id]", options, :multiple => false %>
	</p>

	<p>
		<label><%= l(:label_leaves_default_working_hours) %>:</label>
		<%= number_field_tag 'settings[weekly_working_hours]', RedmineLeavesHolidays::Setting.defaults_settings(:weekly_working_hours), :min => 0, :max => 90, :step => 1 %>
	</p>

	<p>
		<label><%= l(:label_leaves_default_days_year) %>:</label>
		<%= number_field_tag 'settings[annual_leave_days_max]', RedmineLeavesHolidays::Setting.defaults_settings(:annual_leave_days_max), :min => 0, :step => 1 %>
	</p>

	<%- users = User.where(status: 1).collect{|t| [t.name, t.id]} -%>
	<p>
		<label><%= l(:label_plugin_admins) %></label>
		<%- options = options_for_select(users, RedmineLeavesHolidays::Setting.defaults_settings(:default_plugin_admins)) -%>
		<%= select_tag "settings[default_plugin_admins]", options, :multiple => true, :width => 80, :size => 10 %>
	</p>

		<%- regions = Holidays.regions.sort -%>
	<p>
		<label>Default Region For Public Holidays:</label>
		<%- options = options_for_select(regions, RedmineLeavesHolidays::Setting.defaults_settings(:region)) -%>
		<%= select_tag "settings[region]", options, :multiple => false %>
	</p>

	<p>
		<label>Default Contract Start date:</label>
		<%= date_field_tag "settings[contract_start_date]", RedmineLeavesHolidays::Setting.defaults_settings(:contract_start_date) %>
	</p>
	<p>
	<label>Activate email notifications:</label>
		<%= check_box_tag "settings[email_notification]",1, RedmineLeavesHolidays::Setting.defaults_settings(:email_notification).to_i == 1 %>
	</p>

	<%- issues = LeavesHolidaysLogic.issues_list.collect{|t| [t.subject, t.id]} -%>
	<p>
		<label>Disable approval system for reasons:</label>
		<%- options = options_for_select(issues, RedmineLeavesHolidays::Setting.defaults_settings(:default_non_approval_issues)) -%>
		<%= select_tag "settings[default_non_approval_issues]", options, :multiple => true, :include_blank => true, :size => 10 %>
	</p>

	<p>
		<label>Disable calculation of remaining leave days for reasons:</label>
		<%- options = options_for_select(issues, RedmineLeavesHolidays::Setting.defaults_settings(:default_non_deduce_issues)) -%>
		<%= select_tag "settings[default_non_deduce_issues]", options, :multiple => true, :include_blank => true, :size => 10 %>
	</p>

	<p>
		<label>Notify only roles with "View all leave requests" for reasons:</label>
		<%- options = options_for_select(issues, RedmineLeavesHolidays::Setting.defaults_settings(:default_quiet_issues)) -%>
		<%= select_tag "settings[default_quiet_issues]", options, :multiple => true, :include_blank => true, :size => 10 %>
	</p>

	<p>
		<label>Default leave renewal date for auto increment / report of available leave days (year is ignored):</label>

		<%= date_field_tag "settings[leave_renewal_date]", RedmineLeavesHolidays::Setting.defaults_settings(:leave_renewal_date) %>
	</p>

	<p>
		<label>Disable the plugin for projects:</label>
		<%- options = options_for_select(projects.sort_by {|l| l[0]}, RedmineLeavesHolidays::Setting.defaults_settings(:default_quiet_projects)) -%>
		<%= select_tag "settings[default_quiet_projects]", options, :multiple => true, :include_blank => true, :size => 10 %>
	</p>

</fieldset>