<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'leaves_holidays', :plugin => 'redmine_leaves_holidays' %>
<% end %>

<% unless @project.module_enabled?(:leave_management) %>
  <h3><%= l(:leave_management_rules_please_enable) %></h3>
<% else %>
  <% if @project.leave_management_rules_enabled? %>
    <ul class="menu">
    <li>
    <h3><%= l(:leave_management_rules) %> <small><%= link_to l(:leave_disable), project_leave_management_rules_disable_path(@project.id), :class => "icon icon-del" %></small></h3>
    </li>
    <li>
        <% if LeavesHolidaysLogic.plugin_feedback_configured? %>
          <%= link_to l(:leave_feedback_title), leave_feedbacks_new_path, :remote => true, :class => "icon icon-email-add" %>
        <% end %>
    </li>
    </ul>
  	

    <ul class="menu">
    <li>
    <%= link_to l(:leave_management_rule_new), project_leave_management_rules_edit_path(@project.id), :remote => true, :class => "icon icon-add" %>
    </li>
    <li>
      <div id="leave-admins">
        <%= render partial: '/leave_administrators/link_to_leave_administrators', locals: {project: @project} %>
      </div>

    </li>
    </ul>

    <div id="table-content">
      <%= render partial: '/leave_management_rules/rules_table', locals: {project: @project} %>
    </div>

    </br>

    <% else %>
    <h3><%= l(:leave_management_rules_not_enabled) %> <%= link_to l(:leave_enable), project_leave_management_rules_enable_path(@project.id), :class => "icon icon-add" %></h3>
    <% end %>

    <div id="leave-rules-metrics">

    </div>

    <%= javascript_tag do %>
    $(document).ready(function(){
    	$.ajax({
    	    url: '<%= leave_rules_show_metrics_path(@project) %>',
    	    cache: false,
    	    beforeSend: function(){
            $('#leave-rules-metrics').html('<%= escape_javascript(render :partial => '/leave_commons/loading') %>');
          },
    	    success: function(data){
    	      $("#leave-rules-metrics").html(data);
    	    }

    	});

    	$('#ajax-indicator').hide();
    	});
    <% end %>
  

<% end %>

