<% unless @project.module_enabled?(:leave_management) %>
  <h3>Please enable the Leave Management module first</h3>
<% else %>
	<h3>Leave Management Rules</h3>
  <p><%= link_to "New leave management rule", project_leave_management_rules_edit_path(@project.id), :remote => true, :class => "icon icon-add" %></p>

<% if LeaveManagementRule.where(project: @project).count > 0 %>
	<table class="list">
	<thead>
			<tr>
				<th>Sender</th>
				<th>Action</th>
				<th>Receiver</th>
				<th></th>
			<tr>
	</thead>
	<tbody> 

	<% LeavesHolidaysManagements.actor_types_db.each do |receiver_type| %>
		<% LeaveManagementRule.actions.keys.each do |action| %>
			<% LeavesHolidaysManagements.actor_types_db.each do |sender_type| %>
				<% rules = LeaveManagementRule.where(project: @project, action: LeaveManagementRule.actions[action], sender_type: sender_type, receiver_type: receiver_type) %>
				
				<% rules_grouped = LeavesHolidaysManagements.group_management_rules(rules.pluck(:id)) %>
				<% unless rules_grouped.empty? %>

					<% rules_grouped.each do |rule_group| %>
						<% rule_ids = rule_group.map(&:id) %>
						<% exceptions = rule_group.first.leave_exception_rules %>
						<tr>
							<td>
								<%= rule_group.map{ |r| r.sender.name }.uniq.join(", ") %>
								<% excp_sender = exceptions.where(actor_concerned: LeaveExceptionRule.actors_concerned['sender']) %>
								<% unless excp_sender.empty? %>
									<% excep_sender_users = excp_sender.map(&:user).map(&:name).uniq %>
									</br><strong><%= "Exception".pluralize(excep_sender_users.count) %>:</strong> <%= excep_sender_users.join(", ") %>
								<% end %>
							</td>

							<td><%= action.humanize %></td>

							<td>
								<%= rule_group.map{ |r| r.receiver.name }.uniq.join(", ") %>
								<% excp_receiver = exceptions.where(actor_concerned: LeaveExceptionRule.actors_concerned['receiver']) %>
								<% unless excp_receiver.empty? %>
									<% excep_receiver_users = excp_receiver.map(&:user).map(&:name).uniq %>
									</br><strong><%= "Exception".pluralize(excep_receiver_users.count) %>:</strong> <%= excep_receiver_users.join(", ") %>
								<% end %>
							</td>
							<td>
								<%= rule_ids %>
									<%= link_to "Edit", project_leave_management_rules_edit_path(@project, :management_rule_ids => rule_ids), :remote => true, :class => "icon icon-edit" 
									%>
									<%= link_to "Delete", project_leave_management_rules_update_path(@project, :management_rule_ids => rule_ids, :delete => true), :remote => true, :class => "icon icon-del" 
									%>
							</td>
						</tr>

					<% end %>
				<% end %>


			<% end %>
		<% end %>
	<% end %>


	</tbody>			
	</table>
<% else %>
	<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<% end %>

