
<%= form_for [@leave, @status], :url => leave_request_leave_statuses_path do |f| %>
	
 	<div class="box tabular">
		<% if @status.errors.any? %>
			<div class="flash">
				<ul>
			  		<% @status.errors.full_messages.each do |msg| %>
			    		<li><%= msg %></li>
			  		<% end %>
				</ul>
			</div>
		<% end %>
		</div>

	<div>

	<fieldset>
		<p>
			<%= l(:label_leave_approve_reject) %>
			<%= f.radio_button :acceptance_status, 'accepted' %>
			<%= f.label :acceptance_status, 'Approve Leave Request', :value => 'accepted' %>
			<%= f.radio_button :acceptance_status, 'rejected' %>
			<%= f.label :acceptance_status, 'Reject Leave Request', :value => 'rejected' %>
		</p>

		<p>
			<label><%= l(:label_leave_comments) %>:</label>
			<%= f.text_field :comments, {:size => 75 } %>
		</p>


	</fieldset>
</div>
	<%= hidden_field_tag "timestamp", @timestamp %>
	<%= f.submit 'Submit', data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Back', leave_request_path(@leave) %>