

<h2>Approve or Reject the Leave Request <%= link_to "\##{leave.id}", leave_request_path(leave) %> from <%= link_to leave.user.name, user_path(leave.user) %>:</h2>
<br />
<% roles = LeavesHolidaysLogic.allowed_common_project(User.current, leave.user, 3) %>
<p>You are being consulted as:<strong> <%= roles.collect{ |e| e[:name] }.uniq.join(', ') %></strong></p>

<p>For the Projects:<strong> <%= roles.collect{ |e| e[:project] }.uniq.join(', ') %></strong></p>
<fieldset>


<%= form_for [leave, status], :url => leave_request_leave_statuses_path do |f| %>
	
		<% if status.errors.any? %>
			<div class="flash">
				<ul>
			  		<% status.errors.full_messages.each do |msg| %>
			    		<li><%= msg %></li>
			  		<% end %>
				</ul>
			</div>
		<% end %>

	<div>
		
			<p>
				<%= f.radio_button :acceptance_status, 'accepted' %>
				<%= f.label :acceptance_status, 'Approve Leave Request', :value => 'accepted' %>
				<%= f.radio_button :acceptance_status, 'rejected' %>
				<%= f.label :acceptance_status, 'Reject Leave Request', :value => 'rejected' %>
			</p>

			<p>
				<label>Comments:</label>
				<%= f.text_field :comments, {:size => 75 } %>
			</p>


		
	</div>
	<%= f.submit 'Submit', data: { confirm: 'Are you sure?' } %> |
<% end %>

<%= link_to 'Back', leave_request_path(leave) %>
</fieldset>
<br />

<fieldset>
	<% if !vote_list.empty? %>
		<h3>Not Consulted:</h3>
		
		<% for uid in vote_list -%>
			<% user = User.find(uid) %>
			<% roles = LeavesHolidaysLogic.allowed_common_project(user, leave.user, 2) %>

			<p><%= link_to user.name, user_path(user) %>: 

			<strong> <%= roles.collect{ |e| e[:name] }.uniq.join(', ') %></strong> - 

			<strong> <%= roles.collect{ |e| e[:project] }.uniq.join(', ') %></strong>

			</p>
		<% end %>

	<% end %>
	<h3>Consulted:</h3>
	
	<%= render partial: 'leave_votes/tab_votes', locals: {votes: votes, leave: leave} %>
</fieldset>