<!DOCTYPE html>
<h1><%= link_to "Leave Request \##{@leave.id}", @leave %> was <%= @action %> by <%= link_to @user.name, @user %></h1>

<hr />

<h2>For more information, go to your <%= link_to "Dashboard", leave_requests_url %>, or visit the <%= link_to "Details", @leave %></h2>

<%= render partial: '/leave_requests/details_leave', :formats => [:html], locals: {leave: @leave} %>

