<!DOCTYPE html>
<h1><%= link_to "#{l(:leave_form_title)} \##{@leave.id}", @leave %> <%= l(:leave_was_submitted_by) %> <%= link_to @user.name, @user %> <%= l(:leave_for_approval) %>:</h1>

<% if Rails.env.development? %>
	<p>Sent to: <%= @recp %></p>
<% end %>

<hr />

<h2><%= l(:leave_review_go_to_dashboard) %></h2>


<%= render partial: '/leave_requests/details_leave', :formats => [:html], locals: {leave: @leave} %>

