<fieldset class="box">
  <p><%= l(:leave_hint_ctrl_clic) %></p>

  <table align="center">
    <tr>
      <td>
       <span title="<%= l(:label_snd_rcv_type_explain) %>" style="cursor: help;"><%= l(:leave_management_sender_type) %>:</span> 
        <p><%= select_tag 'sender_type', actor_type_options_for_select(@sender_type) %></p>
      </td>
      <td>
      <span title="<%= l(:label_sender_explain) %>" style="cursor: help;"><%= l(:leave_management_sender_list) %>:</span> 
        <p><%= select_tag 'sender_list_id', actor_collection_for_select_options(@project, 'sender'), :multiple => true, :size => 10 %>
        </p>
      </td>
      <td>
      <span title="<%= l(:label_action_to_perform_explain) %>" style="cursor: help;"><%= l(:leave_management_action) %>:</span> 
        <p><%= select_tag 'action_rule', action_sender_options_for_select(@action) %></p>
      </td>
      <td>
        <span title="<%= l(:label_snd_rcv_type_explain) %>" style="cursor: help;"><%= l(:leave_management_receiver_type) %>:</span>
        <p><%= select_tag 'receiver_type', actor_type_options_for_select(@receiver_type) %></p>
      </td>
      <td>
        <span title="<%= l(:label_receiver_explain) %>" style="cursor: help;"><%= l(:leave_management_receiver_list) %>:</span> 
        <p><%= select_tag 'receiver_list_id', actor_collection_for_select_options(@project, 'receiver'), :multiple => true, :size => 10 %></p>
      </td>
      <% if @action.to_i == LeaveManagementRule.actions['is_managed_by'] %>
        <td>
          <span title="<%= l(:label_backup_explain) %>" style="cursor: help;"><%= l(:leave_management_backup) %></span>
          <p><%= select_tag 'backup_receiver_id', backup_receiver_collection_for_select_options(@project), :multiple => true, :size => 10 %></p>
        </td>
      <% end %>
      
      <td>
      <div style="display: none"><!-- Logic behind this control is not ready yet so do not display it -->
          <span><%= l(:leave_management_reasons) %>:</span>
          <p><%= select_tag 'reasons_selected', leave_reasons_select(@reason_selected), disabled: true %></p>
          <% if @reason_selected == 1 %>
            <div id="reasons_div">
          <% else %>
            <div id="reasons_div" style="display: none">
          <% end %>
          <p><%= select_tag 'reasons_concerned_id', leave_reasons_rules_specifics(@reasons_concerned_ids), :multiple => true, :size => 8 %></p>
          </div>
      </div>
      </td>
      
    </tr>
    <tr>
      <td></td>
      <td>
        <% if @sender_type == "Role" && @sender_list_id && @sender_list_id.uniq.size == 1 %>
          <% @sender_options = sender_exception_collection_for_select_options(@project) %>
          <% unless @sender_options.empty? %>
            <div id="sender_exception_div">
            <legend><%= label_tag "sender_exception_id", l(:leave_management_sender_exception) %>:</legend>
            <p><%= select_tag 'sender_exception_id', @sender_options, :multiple => true, :selected => 0, :size => 5 %>
            </p>
            </div>
          <% end %>
        <% end %>
      </td>
      <td></td>
      <td></td>
      <td>
        <% if @receiver_type == "Role" && @receiver_list_id && @receiver_list_id.uniq.size == 1 %>
          <% @receiver_options = receiver_exception_collection_for_select_options(@project) %>
          <% unless @receiver_options.empty? %>
            <div id="receiver_exception_div">
            <legend><%= label_tag "receiver_exception_id", l(:leave_management_receiver_exception) %>:</legend>
            <p><%= select_tag 'receiver_exception_id', @receiver_options, :multiple => true, :selected => 0, :size => 5 %>
            </p>
            </div>
          <% end %>
        <% end %>
      </td>
    </tr>
    
  </table>
  

</fieldset>


<%= javascript_tag do %>
  $(document).ready(function(){


    $('#sender_type, #receiver_type, #sender_list_id, #receiver_list_id, #action_rule, #sender_exception_id, #receiver_exception_id, #reasons_selected').change(function(){
      $.ajax({
        url: '<%= escape_javascript project_leave_management_rules_edit_path(:format => 'js', :edit => params["edit"]) %>',
        type: 'post',
        data: $('#leave_management_rules').serialize()
      });
    });
  });
<% end %>