<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'leaves_holidays', :plugin => 'redmine_leaves_holidays' %>
<% end %>

<h3 class="title"><%= l(:leave_management_rules) %></h3>

<%= form_tag project_leave_management_rules_update_path, :id => :leave_management_rules, :remote => true, :method => :post do %>
  <%= render :partial => 'edit_form' %>
  <p class="buttons">
    <%= submit_tag l(:button_submit), :id => 'leave_management-edit-submit', :onclick => "hideModal(this); $overlay.show();" %>
    <%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button' %>
  </p>
<% end %>

<%= javascript_tag do %>
    var $overlay = $('<div class="ui-widget-overlay"></div>').hide().appendTo('body');
<% end %>