<fieldset class="box">
  <div style="text-align: center;"> 
  <ul style="display: inline-block;">
    <legend><%= label_tag "sender_type", "Sender Type:" %></legend>
    <p><%= select_tag 'sender_type', actor_type_options_for_select(@sender_type) %></p>
  </ul>
  <ul style="display: inline-block;">
    <legend><%= label_tag "sender_list_id", "Sender List:" %></legend>
    <p><%= select_tag 'sender_list_id', actor_collection_for_select_options(@project, 'sender'), :multiple => true, :size => 20 %></p>
  </ul>

  <ul style="display: inline-block;">
    <legend><%= label_tag "action_rule", "Action to perform:" %></legend>
    <p><%= select_tag 'action_rule', action_sender_options_for_select(@action) %></p>
  </ul>

  <ul style="display: inline-block;">
    <legend><%= label_tag "receiver_type", "Receiver Type:" %></legend>
    <p><%= select_tag 'receiver_type', actor_type_options_for_select(@receiver_type) %></p>
  </ul>
  <ul style="display: inline-block;">
    <legend><%= label_tag "receiver_list_id", "Receiver List:" %></legend>
    <p><%= select_tag 'receiver_list_id', actor_collection_for_select_options(@project, 'receiver'), :multiple => true, :size => 20 %></p>
  </ul>

  </div>

  

</fieldset>


<%= javascript_tag do %>
  $(document).ready(function(){
    $('#sender_type, #receiver_type, #sender_list_id, #receiver_list_id').change(function(){
      $.ajax({
        url: '<%= escape_javascript new_project_leave_management_rule_path(:format => 'js') %>',
        type: 'post',
        data: $('#leave_management_rules').serialize()
      });
    });
  });
<% end %>