
<% managed_by_leave_admin_people = @project.users_roles_managed_by_leave_admin %>
<div class="splitcontentright">
  <div class="members box">
  <% unless managed_by_leave_admin_people.empty? %>

    <% leave_admins = @project.get_leave_administrators %>

    <% unless leave_admins[:project_defined] %>
       <h3 style="color: red">Project members managed by the system leave administrators (<%= leave_admins[:users].map(&:name).join(", ") %>):</h3>
    <% else %>
       <h3>Project members managed directly by the project leave administrators (<%= leave_admins[:users].map(&:name).join(", ") %>):</h3>
    <% end %>

    <% managed_by_leave_admin_people.keys.sort.each do |role| %>
      <p><span class="label"><%= role %>:</span> <%= users_link_to_notification(managed_by_leave_admin_people[role].sort) %></p>
    <% end %>
  <% end %>



  <% no_create_people = @project.users_by_role_who_cant_create_leave_requests %>
  <% unless no_create_people.empty? %>
    <h3>Project members not allowed to create leave requests (Set in User Preferences):</h3>
    <% no_create_people.keys.sort.each do |role| %>
      <p><span class="label"><%= role %>:</span> <%= users_link_to_notification(no_create_people[role].sort) %></p>
    <% end %>
  <% end %>

  <% contractors_list = @project.contractors_by_role_notifying_plugin_admin %>
  <% unless contractors_list.empty? %>
  
    <h3 title="<%= l(:label_contractor_notify_leave_admin) %>" style="cursor: help;">Contractors notifying the leave administrator:</h3>
    <% contractors_list.keys.sort.each do |role| %>
      <p><span class="label"><%= role %>:</span> <%= users_link_to_notification(contractors_list[role].sort) %></p>
    <% end %>
  <% end %>
  </div>
</div>


<% users_by_role = @project.users_by_role_who_can_create_leave_requests %>

<div class="splitcontentleft">
  <% if users_by_role.any? %>
  <div class="members box">
    <h3>Project members details</h3>
    <% users_by_role.keys.sort.each do |role| %>
      <p><span class="label"><%= role %>:</span> <%= users_link_to_checked_if_managed_in_project(users_by_role[role].sort, @project) %>
      </p>
    <% end %>
    <h4>Legend:</h4>
    <p><span class="label"><%= checked_image %></span> Member has his leave managed by people in this project</p>
    <p><span class="label"><%= image_tag('toggle_check_amber.png', :plugin => 'redmine_leaves_holidays') %></span> Member has his leave managed by people in other projects</p>
    <p><span class="label"><%= image_tag('false.png', :size => '12x12') %></span> Member is not currently managed (see upper right column for details)</p>
    <p><span class="label"><%= image_tag('hourglass.png', :size => '12x12') %></span> Member is a contractor, he is self managed (see lower right column for details)</p>
    <p><span class="label"><%= image_tag('user.png') %></span> Member is a project leave administrator</p>
    <p><span class="label"><%= image_tag('group.png') %></span> Member is a system leave administrator</p>
    <p><small>Click on any user to check who the user manages / is managed by (cross project)</small></p>
  </div>
<% end %>
</div>