
<% managed_by_plugin_admin_people = @project.users_managed_by_plugin_admin %>
<div class="splitcontentright">
  <div class="members box">
  <% unless managed_by_plugin_admin_people.empty? %>

    <% leave_admins = @project.get_leave_administrators %>

    <% unless leave_admins[:project_defined] %>
       <h4 style="color: red">Project members managed by the system leave administrators (<%= leave_admins[:users].map(&:name).join(", ") %>):</h4>
    <% else %>
       <h4>Project members managed by the project leave administrators (<%= leave_admins[:users].map(&:name).join(", ") %>):</h4>
    <% end %>

    <% managed_by_plugin_admin_people.keys.sort.each do |role| %>
      <p><span class="label"><%= role %>:</span> <%= users_link_to_notification(managed_by_plugin_admin_people[role].sort) %></p>
    <% end %>
  <% end %>



  <% no_create_people = @project.users_by_role_who_cant_create_leave_requests %>
  <% unless no_create_people.empty? %>
    <h4>Project members unable to create leave requests (according to current rules, cross project):</h4>
    <% no_create_people.keys.sort.each do |role| %>
      <p><span class="label"><%= role %>:</span> <%= users_link_to_notification(no_create_people[role].sort) %></p>
    <% end %>
  <% end %>

  <% contractors_list = @project.contractors_by_role_notifying_plugin_admin %>
  <% unless contractors_list.empty? %>
    <h4>Contractors notifying the leave administrator:</h4>
    <% contractors_list.keys.sort.each do |role| %>
      <p><span class="label"><%= role %>:</span> <%= users_link_to_notification(contractors_list[role].sort) %></p>
    <% end %>
  <% end %>
  </div>
</div>


<% users_by_role = @project.users_by_role %>

<div class="splitcontentleft">
  <% if users_by_role.any? %>
  <div class="members box">
    <h3>Project members details</h3>
    <% users_by_role.keys.sort.each do |role| %>
      <p><span class="label"><%= role %>:</span> <%= users_link_to_checked_if_managed_in_project(users_by_role[role].sort, @project) %>
      </p>
    <% end %>
    <h4>Legend:</h4>
    <p><span class="label"><%= checked_image %></span> Member has his leave managed by people in this project</p>
    <p><span class="label"><%= image_tag('toggle_check_amber.png', :plugin => 'redmine_leaves_holidays') %></span> Member has his leave managed by people in other projects</p>
    <p><span class="label"><%= image_tag('false.png', :size => '12x12') %></span> Member is not currently managed (see upper right column for details)</p>
    <p><span class="label"><%= image_tag('hourglass.png', :size => '12x12') %></span> Member is a contractor, he is self managed (see lower right column for details)</p>
    <p><span class="label"><%= image_tag('user.png') %></span> Member is a project leave administrator</p>
    <p><span class="label"><%= image_tag('group.png') %></span> Member is a system leave administrator</p>
  </div>
<% end %>
</div>