<%= stylesheet_link_tag 'leaves_holidays', :plugin => 'redmine_leaves_holidays' %>
<table class="cal">
<thead>
<tr><th scope="col" title="<%= l(:label_week) %>" class="week-number"></th><% 7.times do |i| %><th scope="col"><%= day_name( (calendar.first_wday+i)%7 ) %></th><% end %></tr>
</thead>
<tbody>
<tr>
<% day = calendar.startdt
while day <= calendar.enddt %>
<%= ("<td class='week-number' title='#{ l(:label_week) }'>#{(day+(11-day.cwday)%7).cweek}</td>".html_safe) if day.cwday == calendar.first_wday %>
<td class="<%= day.month==calendar.month ? 'even' : 'odd' %><%= ' today' if Date.today == day %>">
<p class="day-num"><%= day.day %></p>

<% if @project %>
  <% leave_list = LeavesHolidaysLogic.leave_on_for_project(day, @project) %>


  <% unless leave_list.empty? %>
    <% for leave in leave_list %>
      <% if leave.get_status == "accepted" %>
        <div class="leave" style="background: #<%= Digest::MD5.hexdigest(leave.user.login)[0..5] %>">
      <% else %>
        <div class="strip">

      <% end %>
        <strong><p><%= link_to "Leave \##{leave.id} - #{leave.issue.subject}", leave_request_path(leave), {:style=>'color:#FFFFFF;'} %></p></strong>
        <table class="leave-table">
        <th>
        <%= avatar(leave.user, :size => "30") %>
        </th>
        <th>
        <p>User: <%= link_to "#{leave.user.name}", user_path(leave.user), {:style=>'color:#FFFFFF;'} %></p>
        <% if leave.get_status != "accepted" %>
          <p>Status: <%= leave.get_status %></p>
        <% end  %>
        <% if leave.half_day? %><p><strong><%= leave.request_type.upcase %> Leave</strong></p><% end %></th>
        </table>
        </div>
      </div>
    <% end %>
    
  <% end %>

<% end %>

<% calendar.events_on(day).each do |i| %>
  <% if i.is_a? Issue %>
  <div class="<%= i.css_classes %> <%= 'starting' if day == i.start_date %> <%= 'ending' if day == i.due_date %> tooltip">
  <%= h("#{i.project} -") unless @project && @project == i.project %>
  <%= link_to_issue i, :truncate => 30 %>
  <span class="tip"><%= render_issue_tooltip i %></span>
  </div>
  <% else %>
  <span class="icon icon-package">
    <%= h("#{i.project} -") unless @project && @project == i.project %>
    <%= link_to_version i%>
  </span>
  <% end %>
<% end %>
</td>
<%= '</tr><tr>'.html_safe if day.cwday==calendar.last_wday and day!=calendar.enddt %>
<% day = day + 1
end %>
</tr>
</tbody>
</table>