<div id="leave_user_prefs">
	<%= render partial: '/leave_requests/details_metrics', locals: {user: user_pref} %>
</div>

<h3>"Leave/Holidays/Work" Preferences for <%= user_pref.name %>:</h3>
<div class="box">
<%= form_for [user, preference], :url => user_leave_preference_path, :remote => false do |f| %>


		<% if preference.errors.any? %>
			<div class="flash">
				<ul>
			  		<% preference.errors.full_messages.each do |msg| %>
			    		<li><%= msg %></li>
			  		<% end %>
				</ul>
			</div>
		<% end %>


		<p>
			<label>Weekly Working Hours:</label>
			<%= f.text_field :weekly_working_hours %>
		</p>

		<p>
			<label>Annual Leave Days Max:</label>
			<%= f.text_field :annual_leave_days_max %>
		</p>

		<p>
			<label>Holidays Region:</label>
			<%- options = @regions -%>
			<%= f.select :region, options %>
		</p>



		<p>
			<label>Extra Leave Days:</label>
			<%= f.text_field :extra_leave_days %>
		</p>

		<p>
			<label>Extra Leave Days Comments:</label>
		</p>
		<p>
			<%= f.text_area  :annual_max_comments, cols: "30", rows: "10" %>
		</p>

		<p>
			<label>Contract Start Date:</label>
			<%= f.text_field :contract_start_date, readonly: true %><%= calendar_for('leave_preference_contract_start_date') %>
		</p>

		<p>
			<label>Leave Renewal Date (Year is ignored):</label>
			<%= f.text_field :leave_renewal_date, readonly: true %><%= calendar_for('leave_preference_leave_renewal_date') %>
		</p>

		<p>
			<label>User is a Contractor (Disables the approval system):</label>
			<%= f.check_box :is_contractor %>
		</p>

	<% if LeavesHolidaysLogic.has_rights(user, user_pref, preference, [:create, :update], nil, :or) %>
		<%= f.submit 'Save' %>
	<% else %>
		<p>Save Function is disabled as you do not have sufficient rights</p>
	<% end %>

	


<% end %>

| <a href="javascript:history.back()"><%= l(:button_back) %></a> |

<% if @exists && LeavesHolidaysLogic.has_right(user, user_pref, preference, :delete) %>
<%= link_to 'Revert to Defaults', user_leave_preference_path(user_pref), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

</div>

<% events = LeaveEvent.unscoped.for_user(user_pref.id).order(created_at: :desc, id: :desc) %>

<% unless events.empty? %>
<h3>History:</h3>
<div class="autoscroll">
		<table class="list">
			<thead>
			<tr>
			<th>Date</th>
			<th>Event Type</th>
			<th>Event Comments</th>
			<th><%= "weekly_working_hours".humanize %></th>
			<th><%= "annual_leave_days_max".humanize %></th>
			<th><%= "region".humanize %></th>
			<th><%= "extra_leave_days".humanize %></th>
			<th>Extra leave days comments</th>
			<th><%= "contract_start_date".humanize %></th>
			<th><%= "leave_renewal_date".humanize %></th>
			<th><%= "is_contractor".humanize %></th>
			</tr>
			</thead>
			<tbody>
				<% for event in events -%>
					<% if event.event_data %>
					<% preference = LeavePreference.new(event.event_data) %>
						<tr class="<%= cycle("odd", "even") %>">
						<td><%= event.created_at %></td>
						<td><%= event.event_type %></td>
						<td><%= event.comments %></td>
						<td><%= preference.weekly_working_hours %>
						<td><%= preference.annual_leave_days_max %>
						<td><%= preference.region %>
						<td><%= preference.extra_leave_days %>
						<td><%= preference.annual_max_comments %>
						<td><%= preference.contract_start_date %>
						<td><%= preference.leave_renewal_date %>
						<td><%= preference.is_contractor %>
						</tr>
					<% end %>
				<% end -%>
			</tbody>
		</table>
</div>
<% end %>