<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'leaves_holidays', :plugin => 'redmine_leaves_holidays' %>
<% end %>

<h3><%= l(:leave_preferences_form_title, :user => user_pref.name ) %>:</h3>

<%= form_for [user_pref, preference], :url => user_leave_preference_path, :remote => false do |f| %>
<div class="splitcontentleft">
<div class="members box">
		<% if preference.errors.any? %>
			<div class="flash">
				<ul>
			  		<% preference.errors.full_messages.each do |msg| %>
			    		<li><%= msg %></li>
			  		<% end %>
				</ul>
			</div>
		<% end %>

		<% if user_pref.can_create_leave_requests %>
			<p>
				<label><%= l(:leave_preferences_ref_weekly_working_hours) %>:</label>
				<%= f.number_field :weekly_working_hours, in: 0.0..100.0, step: 0.1 %>
			</p>

			<p>
				<label><%= l(:leave_preferences_overall_alloc) %>:</label>
				<%= f.number_field :overall_percent_alloc, in: 0..100, step: 5 %> % (Full time: 100%, part time: 50%...)
			</p>

			<p>
				<label><%= l(:leave_preferences_holidays_region) %>:</label>
				<%- options = @regions -%>
				<%= f.select :region, options %>
			</p>

			<% unless user_pref.is_contractor %>
				<p>
					<label><%= l(:leave_preferences_holidays_entitlement_max) %>:</label>
					<%= f.number_field :annual_leave_days_max, in: 0.0..100.0, step: 0.5 %>
				</p>

				<% if preference.pending_day_count && preference.pending_day_count != 0 %>
				<p><strong>
					<%= l(:leave_preferences_user_has_days_to_carry_over, :days => preference.pending_day_count) %>: 
					<%= link_to l(:leave_accept), manage_pending_days_user_leave_preference_path(accept: true), :class => 'icon icon-checked' %>
					<%= link_to l(:leave_discard), manage_pending_days_user_leave_preference_path(accept: false), :class => 'icon icon-unchecked' %>
				</strong></p>
				<% end %>

				<p>
					<label><%= l(:leave_preferences_extra_days) %>:</label>
					<%= f.number_field :extra_leave_days, in: -100.0..100.0, step: 0.5 %>
				</p>

				<p>
					<label><%= l(:leave_preferences_extra_days_comments) %>:</label>
				</p>
				<p>
					<%= f.text_area  :annual_max_comments, cols: "30", rows: "10" %>
				</p>
			<% end %>

			<p>
				<label><%= l(:leave_preferences_contract_start) %>:</label>
				<%= f.text_field :contract_start_date, readonly: true %><%= calendar_for('leave_preference_contract_start_date') %>
			</p>
			
			<p>
				<label><%= l(:leave_preferences_contract_end) %>:</label>
				<%= f.text_field :contract_end_date %><%= calendar_for('leave_preference_contract_end_date') %>
			</p>

			<p>
				<label><%= l(:leave_preferences_leave_renewal_date) %>:</label>
				<%= f.text_field :leave_renewal_date, readonly: true %><%= calendar_for('leave_preference_leave_renewal_date') %>
			</p>

			<p>
				<label><%= t(:leave_preferences_user_is_contractor_html) %>:</label>
				<%= f.check_box :is_contractor %>
			</p>

		<% end %>

		<p>
			<label><%= l(:leave_preferences_user_can_create_leave_requests) %>:</label>
			<%= f.check_box :can_create_leave_requests %>
		</p>

		<%= f.submit l(:button_save) %>


	
<% end %>

| <%= link_to l(:leave_preferences_back_link), leave_preferences_path %> |

<% if @exists %>
	<%= link_to l(:leave_revert_to_defaults), user_leave_preference_path(user_pref), method: :delete, data: { confirm: l(:leave_confirm_dialog) }, :class => "icon icon-del" %>
<% end %>
</div>
</div>

<% if user_pref.can_create_leave_requests %>
	<div id="splitcontentright">
		<%= render partial: '/leave_requests/details_metrics', locals: {user: user_pref} %>
	</div>

	<% events = LeaveEvent.unscoped.for_user(user_pref.id).order(created_at: :desc, id: :desc) %>

	<% unless events.empty? %>
	
<hr/>
	<h3><%= l(:label_history) %>:</h3>
	<div class="autoscroll">
			<table class="list">
				<thead>
				<tr>
				<th><%= l(:leave_date) %></th>
				<th><%= l(:leave_preferences_event_type) %></th>
				<th><%= l(:leave_preferences_event_comments) %></th>
				<th><%= l(:leave_preferences_ref_weekly_working_hours) %></th>
				<th><%= l(:leave_preferences_holidays_entitlement_max) %></th>
				<th><%= l(:leave_preferences_holidays_region) %></th>
				<th><%= l(:leave_preferences_extra_days) %></th>
				<th><%= l(:leave_preferences_pending_days) %></th>
				<th><%= l(:leave_preferences_extra_days_comments) %></th>
				<th><%= l(:leave_preferences_contract_start) %></th>
				<th><%= l(:leave_preferences_contract_end_short) %></th>
				<th><%= l(:leave_preferences_leave_renewal_date_short) %></th>
				<th><%= l(:leave_preferences_user_is_contractor_short) %></th>
				<th><%= l(:leave_preferences_overall_alloc) %></th>
				<th><%= l(:leave_preferences_user_can_create_leave_requests) %></th>
				</tr>
				</thead>
				<tbody>
					<% for event in events -%>
						<% if event.event_data %>
						<% preference = LeavePreference.new(event.event_data) %>
							<tr class="<%= cycle("odd", "even") %>">
							<td><%= event.created_at %></td>
							<td><%= event.event_type %></td>
							<td><%= event.comments %></td>
							<td><%= preference.weekly_working_hours %></td>
							<td><%= preference.annual_leave_days_max %></td>
							<td><%= preference.region %></td>
							<td><%= preference.extra_leave_days %></td>
							<td><%= preference.pending_day_count %></td>
							<td><%= preference.annual_max_comments %></td>
							<td><%= preference.contract_start_date %></td>
							<td><%= preference.contract_end_date %></td>
							<td><%= preference.leave_renewal_date %></td>
							<td><%= preference.is_contractor %></td>
							<td><%= preference.overall_percent_alloc %></td>
							<td><%= preference.can_create_leave_requests %></td>
							</tr>
						<% end %>
					<% end -%>
				</tbody>
			</table>
			</div>
	<% end %>
<% end %>