<%= form_tag(bulk_edit_leave_preferences_path) do %>

<div class="autoscroll">
	<table class="list">
		<thead>
			<tr>
				<th colspan="3"></th>
				<th colspan="5">Leave days metrics</th>
				<th colspan="2">Extra leave days</th>
				<th colspan="6"></th>
			</tr>
			<tr>
				<th>
					<%= button_tag(type: 'submit', class: "btn btn-primary", title: "Edit / Bulk Edit Selected") do %>
 						<i class="icon icon-edit"></i>
					<% end %>
				</th>
				<th>User</th>
				<th>Main projects</th>
				<th>Region</th>
				<th>Leave period</th>
				<th>Remaining</th>
				<th>Accumulated</th>
				<th>Taken</th>
				<th>Extra days</th>
				<th>Comments</th>
				<th>Hours/week</th>
				<th>Days max</th>
				<th>Contract Start date</th>
				<th>Contractor</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% for u in users %>
				<% lp = u.leave_preferences %>
				<tr class="hascontextmenu <%= cycle("odd", "even") %>">
				<td class="checkbox hide-when-print"><%= check_box_tag("user_ids[]", u.id, false, :id => nil) %>
				</td>
				<td><%= link_to u.login, edit_user_leave_preference_path(u), :title => "Edit leave preferences for #{u.name}" %></td>
				<td><div style="min-width: 400px" ><%= user_projects(u) %></div></td>
				<td><%= lp.region %></td>
				<td><div style="min-width: 120px" ><%= contract_period(u) %></div></td>
				<td><%= u.days_remaining %></td>
				<td><%= u.days_accumulated %></td>
				<td><%= u.days_taken %></td>
				<td><%= lp.extra_leave_days %></td>
				<td><%= lp.annual_max_comments %></td>
				<td><%= lp.weekly_working_hours %></td>
				<td><%= lp.annual_leave_days_max %></td>
				<td><%= format_date(lp.contract_start_date) %></td>
				<td><%= checked_image lp.is_contractor %></td>
				<td><%= link_to '', notification_user_leave_preference_path(u), :class => 'icon icon-help',:title => 'Check who can manage / consult this user\'s leave request' %></td>
				</tr>
			<% end %>
		
		</tbody>
	</table>
</div>
<% end -%>