<%= form_tag(bulk_edit_leave_preferences_path) do %>

<div class="autoscroll">
	<table class="list">
		<thead>
			<tr>
				<th>
					<%= button_tag(type: 'submit', class: "btn btn-primary", title: "Edit / Bulk Edit Selected") do %>
 						<i class="icon icon-edit"></i>
					<% end %>
				</th>
				<th>User</th>
				<th>Main projects</th>
				<th>Region</th>
				<th>Contract Start</th>
				<th>Period Start</th>
				<th>Period End</th>
				<th>Days max</th>
				<th title="Mouse over to see comments associated" style="cursor: help;">Extra days</th>
				<th>Remaining</th>
				<th>Accumulated</th>
				<th>Taken</th>
				<th>Hours/week</th>
				<th>% Alloc</th>
				<th>Contractor</th>
			</tr>
		</thead>
		<tbody>
			<% lm = LeavesHolidaysLogic.leave_metrics_for_users(users) %>
			<% lm.each do |u, v| %>
				<% lp = v[:leave_preferences] %>
				<tr class="hascontextmenu <%= cycle("odd", "even") %> <%= lp.css_classes %>">
				<td class="checkbox hide-when-print"><%= check_box_tag("user_ids[]", u.id, false, :id => nil) %>
				</td>
				<td><%= link_to u.login, edit_user_leave_preference_path(u), :class => 'icon icon-edit', :title => "Edit leave preferences for #{u.name}  / Get Detailed metrics" %>  <%= link_to '', notification_user_leave_preference_path(u), :class => 'icon icon-help',:title => 'Check who can manage / consult this user\'s leave request' %></td>
				<td><div style="min-width: 400px" ><%= user_projects(u) %></div></td>
				<td><%= lp.region %></td>
				<td><%= format_date(lp.contract_start_date) %></td>
				<td><%= format_date(v[:leave_period][:start]) %></td>
				<td><%= format_date(v[:leave_period][:end]) %></td>
				
				<% unless lp.is_contractor %>
					<td title="Actual leave entitlement" style="cursor: help;"><%= v[:actual_days_max] %></td>
					<td title="Comments: <%= lp.annual_max_comments %>" style="cursor: help;"><%= lp.extra_leave_days %></td>
					<td><%= v[:days_remaining] %></td>
				<% else %>
					<td title="User is a contractor" style="cursor: help;">-</td>
					<td title="User is a contractor" style="cursor: help;">-</td>
					<td title="User is a contractor" style="cursor: help;">-</td>
				<% end %>
				<td><%= v[:days_accumulated] %></td>
				<td><%= v[:days_taken] %></td>
				<td><%= lp.weekly_working_hours %></td>
				<td><%= lp.overall_percent_alloc %></td>
				<td><%= checked_image lp.is_contractor %></td>
				</tr>


			<% end %>
		
		</tbody>
	</table>
</div>
<% end -%>

<%= javascript_tag do %>
$(document).ready(function(){
	//if( !document.attachEvent){
$('table').floatThead({
    position: 'absolute',
    scrollContainer: function($table){
        return $table.closest(".wrapper");
    }
});
	//}
});

<% end %>