<%= form_tag(bulk_edit_leave_preferences_path) do %>

<div class="autoscroll">
	<table class="list">
		<thead>
			<tr>
				<th>
					<%= button_tag(type: 'submit', class: "btn btn-primary", title: l(:leave_tab_prefs_edit_bulk_edit)) do %>
 						<i class="icon icon-edit"></i>
					<% end %>
				</th>
				<th><%= l(:leave_user) %></th>
				<th><%= l(:leave_tab_prefs_main_projects) %></th>
				<th><%= l(:leave_tab_prefs_region) %></th>
				<th><%= l(:leave_tab_prefs_contract_start) %></th>
				<th><%= l(:leave_tab_prefs_period_start) %></th>
				<th><%= l(:leave_tab_prefs_period_end) %></th>
				<th><%= l(:leave_tab_prefs_days_max) %></th>
				<th title="<%= l(:leave_tab_prefs_days_max_comments_hint) %>" style="cursor: help;"><%= l(:leave_tab_prefs_days_extra) %></th>
				<th><%= l(:leave_tab_prefs_remaining) %></th>
				<th><%= l(:leave_tab_prefs_accumulated) %></th>
				<th><%= l(:leave_tab_prefs_taken) %></th>
				<th><%= l(:leave_tab_prefs_hours_per_week) %></th>
				<th><%= l(:leave_tab_prefs_percent_alloc) %></th>
				<th><%= l(:leave_tab_prefs_is_contractor) %></th>
			</tr>
		</thead>
		<tbody>
			<% lm = LeavesHolidaysLogic.leave_metrics_for_users(users) %>
			<% lm.each do |u, v| %>
				<% lp = v[:leave_preferences] %>
				<tr class="hascontextmenu <%= cycle("odd", "even") %> <%= lp.css_classes %>">
				<td class="checkbox hide-when-print"><%= check_box_tag("user_ids[]", u.id, false, :id => nil) %>
				</td>
				<td><%= link_to u.name, edit_user_leave_preference_path(u), :class => 'icon icon-edit', :title => l(:leave_tab_prefs_link_edit_help, :user => u.name) %>  <%= link_to '', notification_user_leave_preference_path(u), :class => 'icon icon-help',:title => l(:leave_tab_prefs_link_check_help) %></td>
				<td><div style="min-width: 400px" ><%= user_projects(u) %></div></td>
				<td><%= lp.region %></td>
				<td><%= format_date(lp.contract_start_date) %></td>
				<td><%= format_date(v[:leave_period][:start]) %></td>
				<td><%= format_date(v[:leave_period][:end]) %></td>
				
				<% unless lp.is_contractor %>
					<td title="<%= l(:leave_tab_prefs_actual_entitlement) %>" style="cursor: help;"><%= v[:actual_days_max] %></td>
					<td title="<%= l(:leave_comments) %>: <%= lp.annual_max_comments %>" style="cursor: help;"><%= lp.extra_leave_days %></td>
					<td><%= v[:days_remaining] %></td>
				<% else %>
					<td title="<%= l(:leave_tab_prefs_user_contractor) %>" style="cursor: help;">-</td>
					<td title="<%= l(:leave_tab_prefs_user_contractor) %>" style="cursor: help;">-</td>
					<td title="<%= l(:leave_tab_prefs_user_contractor) %>" style="cursor: help;">-</td>
				<% end %>
				<td><%= v[:days_accumulated] %></td>
				<td><%= v[:days_taken] %></td>
				<td><%= lp.weekly_working_hours %></td>
				<td><%= lp.overall_percent_alloc %></td>
				<td><%= checked_image lp.is_contractor %></td>
				</tr>


			<% end %>
		
		</tbody>
	</table>
</div>
<p class="pagination"><%= pagination_links_full @users_pages, @users_count %></p>
<% end -%>

<%= javascript_tag do %>
$(document).ready(function(){
	//if( !document.attachEvent){
$('table').floatThead({
    position: 'absolute',
    scrollContainer: function($table){
        return $table.closest(".wrapper");
    }
});
	//}
});

<% end %>