<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'leaves_holidays', :plugin => 'redmine_leaves_holidays' %>
<% end %>

<h1>Leave Dashboard</h1>

<div class="tabular2"><%= render_leave_tabs leaves_holidays_tabs %></div>

<fieldset><legend><%= l(:label_filter_plural) %></legend>
	<%= form_tag leave_preferences_path, :method => :get do %>

		<label for='projects'>Project:</label>
		<%= select_tag 'projects', leave_projects_options_for_select(@projects), :class => "small", :multiple => true  %>
		<label for='Roles'>Roles:</label>
		<%= select_tag 'roles', roles_options_for_select(@role_ids), :class => "small", :multiple => true  %>

		<%= submit_tag l(:button_apply), :class => "small", :name => nil %>
		<%= link_to l(:button_clear), clear_filters_leave_preferences_path, :class => 'icon icon-reload' %>
	<% end %>
</fieldset>
<br/>
<%= render 'tab_preferences', :users => @users %>