<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'leaves_holidays', :plugin => 'redmine_leaves_holidays' %>
<% end %>

<h1>Leave Dashboard</h1>

<div class="tabular2"><%= render_leave_tabs leaves_holidays_tabs %></div>

<fieldset><legend>Filters <small>(Ctrl+click or Maj+click to select or deselect entries)</small></legend>
	<%= form_tag leave_preferences_path, :method => :get do %>

		<label for='projects'>Project:</label>
		<%= select_tag 'projects', leave_projects_options_for_select(@projects_selected), :class => "small", :multiple => true %>
		<label for='Roles'>Roles:</label>
		<%= select_tag 'roles', leave_roles_options_for_select(@roles_selected), :class => "small", :multiple => true  %>

    <label for='region'>Region:</label>
    <%= select_tag 'region', options_for_select(@regions_initial, @regions_selected), :class => "small", :multiple => true  %>

    <label for='name'><%= l(:label_user) %>:</label>
    <%= text_field_tag 'name', params[:name], :size => 30 %>

		<%= submit_tag l(:button_apply), :class => "small", :value => "apply" %>
		<%= link_to l(:button_clear), clear_filters_leave_preferences_path, :class => 'icon icon-reload' %>
	<% end %>
</fieldset>
<br/>
<%= render 'tab_preferences', :users => @users_selected %>