<% if !@manage_list.empty? %>
		<h3>Users able to manage Leave Requests from <%= @user_pref.name %>:</h3>

		<% for entry in @manage_list -%>

			<p><%= link_to entry.first[:user].name, user_path(entry.first[:user]) %>: 

			<strong> <%= entry.collect{ |e| e[:name] }.uniq.join(', ') %></strong> - 

			<strong> <%= entry.collect{ |e| e[:project] }.uniq.join(', ') %></strong>

			</p>
		<% end %>
<% else %>
	<h3>Nobody can manage Leave Requests from <%= @user_pref.name %></h3>
<% end %>

<% if !@vote_list.empty? %>
		<h3>Users able to Consult:</h3>

		<% for entry in @vote_list -%>

			<p><%= link_to entry.first[:user].name, user_path(entry.first[:user]) %>: 

			<strong> <%= entry.collect{ |e| e[:name] }.uniq.join(', ') %></strong> - 

			<strong> <%= entry.collect{ |e| e[:project] }.uniq.join(', ') %></strong>

			</p>
		<% end %>
<% else %>
	<h3>Nobody can consult Leave Requests from <%= @user_pref.name %></h3>
<% end %>

<% notification =  (@vote_list.empty? && @manage_list.empty?) || LeavesHolidaysLogic.should_notify_plugin_admin(@user_pref, 3) ? true : false %>

<% admins = LeavesHolidaysLogic.plugin_admins_users.map(&:login).join(', ')  %>

<% if notification == true %>
	<h3>Plugin admins (<%= admins %>) will be notified</h3>
<% else %> 
	<h3>Plugin admins (<%= admins %>) will not be notified</h3>
<% end %>


<a href="javascript:history.back()"><%= l(:button_back) %></a>