<% if LeavesHolidaysLogic.has_rights(@user, @user_pref, @preference, [:create, :update, :delete], nil, :or) %>
	<%= render partial: '/leave_requests/details_metrics', locals: {user: @user_pref} %>
<% end %>

<h3>"Leave/Holidays/Work" Preferences for <%= @user_pref.name %>:</h3>
<div class="list">
<p>
	<strong>Weekly Working Hours:</strong>
	<%= @preference.weekly_working_hours %>
</p>
<p>
	<strong>Annual Leave Days Max:</strong>
	<%= @preference.annual_leave_days_max %>
</p>
<p>
	<strong>Holidays Region:</strong>
	<%= @preference.region %>
</p>

<p>
	<strong>Extra Leave Days:</strong>
	<%= @preference.extra_leave_days %>
	<% if @preference.annual_max_comments != "" %>
		<strong>Comments:</strong>
		<%= @preference.annual_max_comments %>
	<% end %>
</p>
<p>
	<strong>Contract Start Date:</strong>
	<%= format_date(@preference.contract_start_date) %>
</p>
<p>
	<strong>User is a Contractor:</strong>
	<%= @preference.is_contractor %>
</p>

<a href="javascript:history.back()"><%= l(:button_back) %></a>

<% if LeavesHolidaysLogic.has_rights(@user, @user_pref, @preference, [:create, :update, :delete], nil, :or) %>
	| <%= link_to 'Manage', new_user_leave_preferences_path(@user_pref) %> | <%= link_to 'Check Manage/Consult list', notification_user_leave_preferences_path(@user_pref) %>
<% end %>
</div>